body {
    background: url('https://img.freepik.com/free-photo/dark-room-with-wooden-floor_1048-2481.jpg?size=626&ext=jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}